body {
    width: 300px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    padding: 15px;
}

h1 {
    font-size: 24px;
    color: #e67e22;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #7ad3f9;
}

input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: #e74c3c;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.task-text.completed {
    text-decoration: line-through;
    color: #888;
}
li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-checkbox {
    cursor: pointer;
}
